
@import '../../variables';

$content-margin-horizontal: 214px;
$content-margin-top: 74px;
$content-margin-bottom: 58px;

$app-title-color: #386071;

$table-haeder-color: #0B749B;
$table-header-fsize: 10px;
$table-row-color: #536B7A;

.content-container {
    position: relative;
    width: 70%;
    font-size: 24px;
    top: $content-margin-top;
    margin: auto;
    z-index: 0;

    .app-title {
        font-size: 24px;
        color: $app-title-color;
        font-weight: $font-weight-regular;
        margin-bottom: 32px;
    }

    .filters-container {
        width: 100%;
        display: flex;
        margin-bottom: 46px;

        .filter {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;
            height: 8px;
            padding: 8px 12px;
            border: 1px solid #78849E66;
            border-radius: 20px;
            font-weight: $font-weight-light;
            font-size: 12px;
            transition: background-color ease-in-out 0.3s;

            &.top-revenue {
                width: 92px;
                margin-right: 12px;
            }

            &.top-revenue-year {
                width: 124px;
                margin-right: 8px;
            }

            &.active, &:hover {
                cursor: pointer;
                font-weight: $font-weight-medium;
                color: #012433;
                background-color: #00BAFF;
            }
        }

        .reset:hover {
            cursor: pointer;
        }
    }
}

.table-container {
    height: 560px;
    overflow-y: auto;
    overflow-x: hidden;

    table {
        border-collapse: collapse;
        width: 100%;
    
        .header {
            position: sticky;
            top: 0;
            box-shadow: inset 0 -2px 0 rgba(11,116,155, 0.6);
            background-color: white;
            font-size: $table-header-fsize;
            color: $table-haeder-color;
            font-weight: $font-weight-bold;
            padding-bottom: 4px;
    
            &.ranking, &.detail {
                width: 10%;
            }
    
            &.title {
                width: 40%;
                text-align: left;
            }
    
            &.year, &.revenue {
                width: 20%;
                text-align: left;
            }
        }

        tr:not(tr:nth-child(1)):hover {
            cursor: pointer;
        }

        .movie-entry {
            color: $table-row-color;
            font-weight: $font-weight-regular;
            font-size: 16px;
            padding: 17px 0;
            border-bottom: 1px solid rgba(154, 174, 187, 0.4);

            &.ranking, &.detail {
                text-align: center;
            }
        }
    }
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.3s;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 0.3s;
    pointer-events: none;
}
